<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro - Timer</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/timer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c2b6ba108.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>Pomodoro</h1>
        <button class="default menu-button">Início</button>
    </header>
    <main>
        <div class="timer-container">
            <!-- isso é pra ser tipo uma barra de loading dps 
                <div class="loading-bar-container"></div> -->
            <h4 class="current-time"></h4>
        </div>

        <div class="current-type">
            <h4 class="timer-type work">Trabalho</h4>
            <div class="current-style-type">
                <i class="fas fa-circle circle"></i>
                <i class="fas fa-circle circle"></i>
                <i class="fas fa-circle circle"></i>
            </div>
            <button class="default play-button">
                <i class="fas fa-play"></i>
            </button>
        </div>
    </main>
    
    <script src="../scripts/timer.js"></script>
</body>

</html>